* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10px = 1rem */
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
}

main {
  padding: 12rem 20rem;
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bg-desktop {
  position: absolute;
  z-index: -1;
}

.bg-mobile {
  display: none;
}

.bg-top {
  top: 0;
  left: 0;
}

.bg-bot {
  bottom: 0;
  right: 0;
}

/* Hero section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  flex: 0 0 37rem;
}

.hero-text h1 {
  color: hsl(300, 43%, 22%);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-text p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 1.2;
}

.hero-ratings {
  flex: 0 0 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.hero-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40rem;
  padding: 1.6rem 2.4rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
}

.hero-rating:nth-child(1) {
  align-self: flex-start;
}
.hero-rating:nth-child(2) {
  align-self: center;
}
.hero-rating:nth-child(3) {
  align-self: flex-end;
}

.hero-stars {
  display: flex;
  gap: 1rem;
}

.hero-rating p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding-left: 3rem;
}

/* Testimonials section */

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 33.5rem);
  grid-template-rows: 20rem;
  gap: 2rem;
  padding-top: 6rem;
}

.testimonial {
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  display: flex;
  padding: 2rem 3.5rem;
  flex-direction: column;
  justify-content: center;

  height: 20rem;
}

.testimonial-customer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-img {
  border-radius: 50%;
  width: 3.2rem;
}

.customer-name,
.customer-title {
  font-weight: 500;
  padding: 0.1rem;
}

.customer-name {
  color: hsl(300, 24%, 96%);
}
.customer-title {
  color: hsl(333, 80%, 67%);
}
.customer-text {
  color: hsl(300, 24%, 96%);
  padding-top: 2rem;
  line-height: 1.2;
  font-weight: 500;
}

.testimonial:nth-child(2) {
  margin-top: 2rem;
}

.testimonial:last-child {
  margin-top: 4rem;
}

/* Change at 1104px */
@media (max-width: 69rem) {
  .bg-desktop {
    display: none;
  }

  .bg-mobile {
    display: block;
    position: absolute;
    z-index: -1;
  }

  body {
    align-items: flex-start;
  }

  main {
    max-width: 37.5rem;
    flex-direction: column;
    position: relative;
    padding: 5rem 0;
  }

  .hero {
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }

  .hero-text {
    flex: 0;
    text-align: center;
  }

  .hero-ratings {
    flex: 0;
    width: 100%;
    gap: 2rem;
  }

  .hero-rating {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6rem 5rem;
    gap: 2rem;
    background-color: hsl(300, 24%, 96%);
  }

  .hero-rating p {
    padding: 0;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .testimonial:nth-child(2),
  .testimonial:last-child {
    margin: 0;
  }
}
